/*
Themes Colors
*/

html[data-theme="lakeGreen"] {
    --cascade: #93A7AA;
    --hitGray: #A7B5B9;
    --bonJour: #DBD3D8;
    --stromboli: #2E5E4E;
}

html[data-theme="campGreen"] {
    --hemlock: #515136;
    --coralReef: #C2B49B;
    --lunarGreen: #2E3D33;
    --yellowMetal: #746A3C;
}

html[data-theme="campGreen"] {
    --hemlock: #515136;
    --coralReef: #C2B49B;
    --lunarGreen: #2E3D33;
    --yellowMetal: #746A3C;
}

html[data-theme="sunset"] {
    --saandrift: #AA8C7C;
    --fuelYellow: #F0A430;
    --carterBrown: #4A2429;
    --mountbattenPink: #94738D;
}

html[data-theme="sunsetPurple"] {
    --haiti: #1C0F33;
    --daisyBush: #582D94;
    --fuchsiaPink: #D051BC;
    --purpleHeart: #692DCC;
}

html[data-theme="sunsetYellow"] {
    --finn: #5F2E5B;
    --rajah: #F6AD7D;
    --contessa: #C06680;
    --christine: #E3680F;
}

html[data-theme="purple"] {
    --cello: #224A64;
    --lavender: #C972DE;
    --steelBlue: #4674BC;
    --pictonBlue: #3FCFE5;
}

html[data-theme="malte"] {
    --almond: #F1DECB;
    --oldRose: #F2AF88;
    --wineBerry: #591829;
    --orientalPink: #A66658;
}

html[data-theme="nuts"] {
    --meteor: #D07B12;
    --richGold: #9A4B07;
    --parchment: #EDDFC9;
    --englishWalnut: #412D26;
}

html[data-theme="abstract"] {
    --shark: #1D1E26;
    --astral: #3A73AC;
    --hopbush: #C66F9F;
    --pictonBlue: #28B7E5;
}

html[data-theme="abstractFats"] {
    --primary: #7D29F2;
    --spotlith: #05AFF2;
    --featured: #7F25D9;
    --background: #5B4D8C;
}

html[data-theme="leaves"] {
    --shark: #1C1E23;
    --deluge: #7C5C9A;
    --juniper: #779996;
    --hibiscus: #BD2F76;
}

html[data-theme="desertTrail"] {
    --ochre: #CB7D25;
    --jordyBlue: #96C7F4;
    --oxfordBlue: #354551;
    --brownBramble: #663605;
}

html[data-theme="desert"] {
    --iron: #CECFD2;
    --cork: #442B1D;
    --bullShot: #814A24;
    --rawSienna: #D18A39;
}

html[]